@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/fonts/fonts.css */

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Extralight";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf")
    format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Light";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "hvdtrial-brandon-grotesque-semiRegular";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Regular";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Medium";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Semibold";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-bold";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "hvdtrial-brandon-grotesque-black";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf")
    format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "hvdtrial-brandon-grotesque-Variable";
  src: url("./component/assets/font/hvdtrial-brandon-grotesque-cufonfonts/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf")
    format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-bold", sans-serif;
}
h2 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-Semibold", sans-serif;
}
h4 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-Medium", sans-serif;
}
h5 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-semiRegular", sans-serif;
}
p {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-Regular", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-Semibold", sans-serif;
}
h6 {
  margin: 0;
  font-family: "hvdtrial-brandon-grotesque-semiRegular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-lilt-sec {
  background: linear-gradient(
    19.65deg,
    #1d37ec -364.36%,
    #263af5 -94.78%,
    #2f3dfe -46.92%,
    #7467fe 75.61%,
    #ab89fe 236.41%,
    #d3a1fe 313.44%,
    #ecb0fe 367.35%,
    #f5b6fe 405.86%
  );
}

.bg-lilt-sec-header:hover {
  background: linear-gradient(
    19.65deg,
    #1d37ec -364.36%,
    #263af5 -94.78%,
    #2f3dfe -46.92%,
    #7467fe 75.61%,
    #ab89fe 236.41%,
    #d3a1fe 313.44%,
    #ecb0fe 367.35%,
    #f5b6fe 405.86%
  );
}
.gray-color {
  filter: brightness(0) saturate(100%) invert(22%) sepia(0%) saturate(0%)
    hue-rotate(179deg) brightness(95%) contrast(85%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: #1d37ec !important;
  padding: 20px !important;
  border-radius: 500px !important;
  color: white !important;
}

.swiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev" !important;
  font-size: 17px !important;
  font-weight: bold !important;
}
.swiper .swiper-button-next,
.swiper-rtl .swiper-button-next {
  background: #1d37ec !important;
  padding: 20px !important;
  border-radius: 500px !important;
  color: white !important;
}

.swiper .swiper-button-next:after,
.swiper-rtl .swiper-button-next:after {
  content: "next" !important;
  font-size: 17px !important;
  font-weight: bold !important;
}

.second-sec-card-main-div:hover {
  border-bottom-left-radius: 150px;
}
.second-sec-card-main-div:hover img {
  border-bottom-left-radius: 150px;
}
.second-sec-card-main-div:hover p {
  color: white;
}
.second-sec-card-main-div:hover svg {
  display: block;
}

.faq-sec-main-div {
  transition: background-color 0.3s ease;
}

/* .faq-sec-main-div:hover h5 {
  color: #8c3ded;
  transition: color 0.3s ease;
} */

.faq-sec-main-div {
  position: relative;
  overflow: hidden;
}

.faq-sec-main-div::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgb(79 70 229); /* indigo with opacity */
  z-index: 0;
  transition: bottom 0.4s ease-in-out;
}

.faq-sec-main-div:hover::before {
  bottom: 0;
}

.faq-sec-main-div:hover img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.faq-sec-main-div img {
  display: none;
  opacity: 0;
}

@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-animation {
  animation: rotate-back-and-forth 5s linear infinite;
  transform-origin: left center;
}
